# Q1. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
# Sample Series: [12, 14, 16, 18, 20], [11, 13, 15, 17, 19]

In [10]:
import pandas as pd

s1 = pd.Series(data=[12,14,16,18,20])
s2 = pd.Series(data=[11,13,15,17,19])

output_add = s1.add(s2)
print("Addition")
print(output_add)
print("\n")

output_sub = s1.subtract(s2)
print("Substration")
print(output_sub)
print("\n")

output_multiply = s1.mul(s2)
print("Multiply")
print(output_multiply)
print("\n")

output_division = s1.div(s2)
print("Division")
print(output_division)
print("\n")

Addition
0    23
1    27
2    31
3    35
4    39
dtype: int64


Substration
0    1
1    1
2    1
3    1
4    1
dtype: int64


Multiply
0    132
1    182
2    240
3    306
4    380
dtype: int64


Division
0    1.090909
1    1.076923
2    1.066667
3    1.058824
4    1.052632
dtype: float64

# Ques 2. Create a DataFrame directly from the url provided. Set Month as index and rename the column "1960" to "1961" .

# Url = https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv

In [11]:
import pandas as pd

Q2_df = pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv")
Q2_column = Q2_df.columns
print(Q2_column)
print("\n")
Q2_df.set_index("Month", inplace=True)
Q2_df.rename(columns={' "1960"' : ' "1961"'}, inplace=True)

print(Q2_df.head())

Index(['Month', ' "1958"', ' "1959"', ' "1960"'], dtype='object')


        "1958"   "1959"   "1961"
Month
JAN        340      360      417
FEB        318      342      391
MAR        362      406      419
APR        348      396      461
MAY        363      420      472

# Ques 3. Create a new DataFrame which has the data “ 'numbers': [1, 2, 3], 'colors': ['red', 'white', 'blue'] ”. Now create a new DataFrame which has the data “ 'numbers': [5, 6, 7], 'colors': ['gray', 'gold', 'silver'] ”. Append the new DataFrame into the old one.

In [12]:
import pandas as pd

df1 = pd.DataFrame(data=[[1,'red'],[2,'white'],[3,'blue']], columns=['numbers','colors'])
df2 = pd.DataFrame(data=[[4,'gray'],[5,'gold'],[6,'silver']], columns=['numbers','colors'])

final = df1.append(df2, ignore_index=True)

print(final)

   numbers  colors
0        1     red
1        2   white
2        3    blue
3        4    gray
4        5    gold
5        6  silver

# Ques 4. 
# A. Write a Python program to calculate the length of a string without using len() function.
# B. Write a Python program to sum all the items in a list without using sum() function.

In [13]:
# Part 1

def str_lengeth(input_string):
	count = 0

	for i in input_string:
		count+=1

	return count

# Part 2

def sum_list(input_list):
	total = 0

	for i in input_list:
		total+=i

	return total

s = "Training Assignment at Sabudh"
l = [1,2,3,4,5,6,7,8,9,10]

str_len = str_lengeth(s)
list_sum = sum_list(l)

print("Length of String",str_len)
print("\n")
print("Sum of All Item in List", list_sum)

Length of String 29


Sum of All Item in List 55

# Ques 5.
# A. Write a Python program to add a key to a dictionary.
# B. Write a Python program to concatenate following dictionaries to create a new one.

# Data:
# {1:'RED', 2:'BLUE'}, {3:'GREEN', 4:'YELLOW'}, {5:'PURPLE',6:'ORANGE'}

In [14]:
# Part 1
e_dict = {}
e_dict['New_Key'] = 47

# Part 2
sample_dict_1 = {1:'Red', 2:'Blue'}
sample_dict_2 = {3:'Green', 4:'Yellow'}
sample_dict_3 = {5:'Purple', 6:'Orange'}

in_dict = [sample_dict_1, sample_dict_2, sample_dict_3]

def dict_merger(input_dict):
	final = {}

	for i in input_dict:
		final.update(i)
	return final

final_dict = dict_merger(in_dict)
print(final_dict)

{1: 'Red', 2: 'Blue', 3: 'Green', 4: 'Yellow', 5: 'Purple', 6: 'Orange'}

# Ques 6.
# A. Write a Python program to create a set.
# B. Write a Python program to create a tuple with different data types.

In [15]:
x = int(input("Enter Number of Element in Set: "))
s = set()
for i in range(x):
	a = input("Enter values for Set: ")
	s.add(a)

print(s)
print("\n")

# Part 2

tuple_ele = int(input("Enter Number of Element in Tuple: "))
l = []

for i in range(tuple_ele):
	a = input("Enter Element of Tuple: ")
	l.append(a)
	
print(tuple(l))

Enter Number of Element in Set: 4
Enter values for Set: 1
Enter values for Set: 3
Enter values for Set: 5
Enter values for Set: 65
{'1', '5', '65', '3'}


Enter Number of Element in Tuple: 4
Enter Element of Tuple: 1
Enter Element of Tuple: Python
Enter Element of Tuple: 4.34
Enter Element of Tuple: 8
('1', 'Python', '4.34', '8')

# Ques 7.
# 1. Write a Python program to test whether a passed letter is a vowel or not.

# 2. Write a Python program to display the current date and time.

	# Sample Output :
	# Current date and time :
	# 2021-07-16 05:54:38

# 3. Write a Python program to display the first and last colors from the following list.
	# color_list = ["Red","Green","White" ,"Black"]

# 4. Write a python program to generate a random number from the range 0,60 and using seed 100.

In [16]:
# Part 1
_str = input("Enter the letter/Alphabet: ")
vowels = ['a','e','i','o','u']
_str = _str.lower()

if _str in vowels:
	print("Yes it is a vowel.")
else:
	print("No it is not a vowel.")
print("\n")

# Part 2
import datetime 
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))
print("\n")

# Part 3
color_list = ["Red","Green","White" ,"Black"]
print("First",color_list[0])
print("Last",color_list[-1])
print("\n")

# Part 4
import random
random.seed(100)
print("Random: ",random.randrange(60))
print("\n")

Enter the letter/Alphabet: a
Yes it is a vowel.


Current date and time :
2021-07-26 08:06:28


First Red
Last Black


Random:  9