![1200px-Pandas_logo.svg.png]()

In [1]:
# Load the basic libraries
import pandas as pd

# PART 1 : BASICS

**1. Series**

What is a Series?

Answer: Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).

In [2]:
# variation 1
sample_series = pd.Series(data=[1, 2, 3, 4, 5], index=[10, 11, 12, 13, 14], dtype="int32")
print(sample_series)

10    1
11    2
12    3
13    4
14    5
dtype: int32

In [3]:
# variation 2
sample_series = pd.Series(data=[1, 2, 3, 4, 5], index=[20, 21, 22, 23, 24], dtype="float32")
print(sample_series)

20    1.0
21    2.0
22    3.0
23    4.0
24    5.0
dtype: float32

In [4]:
# variation 3
sample_series = pd.Series(data=[1, 2, 3, 4, 5], index=None, dtype="float32")
print(sample_series)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float32

In [16]:
# Variation 4 
animal_size = ["giant", "big", "medium", "small", "tiny"]
animal_name = ["Dinosaur", "Elephant", "Cow", "Cat", "chick"]

# Make the series
animal_series = pd.Series(data=animal_name, index=animal_size, dtype="str", name="animals")
print(animal_series)

giant     Dinosaur
big       Elephant
medium         Cow
small          Cat
tiny         chick
Name: animals, dtype: object

In [17]:
# adding data using loc and iloc
animal_series.loc["molecular"] = "bacteria"

# iloc possible but not very explainable -- ??
print(animal_series)

giant        Dinosaur
big          Elephant
medium            Cow
small             Cat
tiny            chick
molecular    bacteria
Name: animals, dtype: object

**QUESTION : Make the below show series using pd.Series**<br><br>
![series_1.PNG]()

In [24]:
# Let's Code the solution

#################### WRITE CODE HERE #####################
##########################################################

**LOC VS ILOC**

**loc** : loc gets rows (and/or columns) with particular labels. <br>
**iloc** : iloc gets rows (and/or columns) at integer locations.

In [19]:
# lets use the loc
small_animal = animal_series.loc["small"]
print(f"small animal from animal series : {small_animal}")

# let's use iloc on animal_series
who_animal = animal_series.iloc[1]
print(f"animal at index 1 : {who_animal}")

# lets use the iloc operator
val_at_index_four = sample_series.iloc[4]
print(f"Value at index 4 : {val_at_index_four}")

small animal from animal series : Cat
animal at index 1 : Elephant
Value at index 4 : 5.0

In [20]:
# Method 2 SIMILAR TO LOC
giant_animal = animal_series["giant"]
print(f"giant animal from animal series : {giant_animal}")

giant animal from animal series : Dinosaur

**VALUE COUNTS**

Value counts can help you to understand the distrubution of various value across the series data

In [21]:
vc_data = pd.Series(data=[1, 2, 3, 3, 4, 4, 4, 5, 5, 5, 5, 5, 8, 8, 9, 9, 9, 9, 9, 9,])
print(vc_data)
print("\n")
print(vc_data.value_counts())

0     1
1     2
2     3
3     3
4     4
5     4
6     4
7     5
8     5
9     5
10    5
11    5
12    8
13    8
14    9
15    9
16    9
17    9
18    9
19    9
dtype: int64


9    6
5    5
4    3
8    2
3    2
2    1
1    1
dtype: int64

**Other ways of Making a Series ?**

In [22]:
# Using a dict
data_dict = {
    "name" : "a",
    "age": 12,
    "gender": "fluid"
}
dict_series = pd.Series(data_dict)
print(dict_series)
print("\n")
dict_series_indexed = pd.Series(data_dict, index=["name", "age"])
print(dict_series_indexed)

name          a
age          12
gender    fluid
dtype: object


name     a
age     12
dtype: object

# Pandas DataFrame

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

![pandas_df_first_look.png]()

# DataFrame vs Series: What's the difference ?

![Screenshot 2021-01-20 112630.png]()


Series is a list that can store values of different datatypes whereas a DataFrame is a collection of series. Each column in a DataFrame is a Series in itself.

**pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)**

**Methods of creating a DataFrame**

In [10]:
# Method-1 using list 
list_df = pd.DataFrame(data=[[1, 2, 3, 4], [5, 6, 7, 8]], columns=["one", "two", "three", "four"])
list_df.head()

   one  two  three  four
0    1    2      3     4
1    5    6      7     8

In [23]:
list_df = pd.DataFrame(data=[[1, 2, 3, 4]], columns=["one", "two", "three", "four"], index=[10, 20, 30, 40])
list_df.head()

    one  two  three  four
10    1    2      3     4
20    1    2      3     4
30    1    2      3     4
40    1    2      3     4

In [76]:
# Method 2 using dict
dict_data = {
    "name" : ["apple", "orange", "banana", "onion"],
    "price" : [11, 20, 30, 40]
}
dict_df = pd.DataFrame(dict_data)
dict_df

     name  price
0   apple     10
1  orange     20
2  banana     30
3   onion     40

In [77]:
# Add new columns after creating a dataframe
dict_df["age"] = ["old", "old", "young", "small"]
dict_df

     name  price    age
0   apple     10    old
1  orange     20    old
2  banana     30  young
3   onion     40  small

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://i.imgur.com/CHPn7ZF.png)

In [13]:
# Let's code the solution

############### CODE STARTS HERE ##################
###################################################

# Let's understand the pd.DataFrame in depth using udemy_courses.csv dataframe

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

pandas.read_csv(filepath_or_buffer, sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, squeeze=False, prefix=<no_default>, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options=None)

In [27]:
# Let's load the data
udemy_df = pd.read_csv("/content/drive/MyDrive/udemy_courses.csv")
print(f"Udemy df shape : {udemy_df.shape}")
udemy_df.head()

Udemy df shape : (3678, 12)

   course_id  ...           subject
0    1070968  ...  Business Finance
1    1113822  ...  Business Finance
2    1006314  ...  Business Finance
3    1210588  ...  Business Finance
4    1011058  ...  Business Finance

[5 rows x 12 columns]

# Manuplating the DataFrame

# 1. Accessing the columns of the dataframe

In [28]:
# First let's print all the rows of the dataframe
udemy_columns = udemy_df.columns
print(udemy_columns)

Index(['course_id', 'course_title', 'url', 'is_paid', 'price',
       'num_subscribers', 'num_reviews', 'num_lectures', 'level',
       'content_duration', 'published_timestamp', 'subject'],
      dtype='object')

In [29]:
# Select any one of the column 
udemy_df["num_reviews"]

0        23
1       923
2        74
3        11
4        45
       ...
3673     14
3674      3
3675    169
3676     31
3677     36
Name: num_reviews, Length: 3678, dtype: int64

In [30]:
# Select multiple columns 
udemy_df[['is_paid', 'price', 'num_subscribers']].head()

   is_paid  price  num_subscribers
0     True    200             2147
1     True     75             2792
2     True     45             2174
3     True     95             2451
4     True    200             1276

In [59]:
# Filter method
udemy_df.filter(items=["is_paid", "price"]).head()

   is_paid  price
0     True    200
1     True     75
2     True     45
3     True     95
4     True    200

# 2.iloc

In [31]:
# Collect the value in 10th row using iloc
tenth_row = udemy_df.iloc[10]
print(type(tenth_row))
print("\n")
tenth_row

<class 'pandas.core.series.Series'>

course_id                                                         592338
course_title           Forex Trading Secrets of the Pros With Amazon'...
url                    https://www.udemy.com/trading-with-amazons-aws...
is_paid                                                             True
price                                                                200
num_subscribers                                                     4284
num_reviews                                                           93
num_lectures                                                          76
level                                                         All Levels
content_duration                                                       5
published_timestamp                                 2015-09-11T16:47:02Z
subject                                                 Business Finance
Name: 10, dtype: object

In [32]:
# Collecting columns from the dataframe
print(udemy_df.columns)

Index(['course_id', 'course_title', 'url', 'is_paid', 'price',
       'num_subscribers', 'num_reviews', 'num_lectures', 'level',
       'content_duration', 'published_timestamp', 'subject'],
      dtype='object')

In [33]:
# Collecting url, num_reviews, level from 10th row
tenth_row_selected_cols = udemy_df.iloc[10, :][["url", "num_reviews", "level"]]
print(tenth_row_selected_cols)

url            https://www.udemy.com/trading-with-amazons-aws...
num_reviews                                                   93
level                                                 All Levels
Name: 10, dtype: object

In [35]:
# We can also add a new row using loc
# test_df = udemy_df[['is_paid', 'price', 'num_subscribers']].iloc[5, :].copy()
# test_df.iloc[6] = [False, 1000000, 45]
# test_df

# 3.loc

In [36]:
# Collect data with index 4
row_fourty_five = udemy_df.loc[4, :]
print(row_fourty_five)

course_id                                                        1011058
course_title                How To Maximize Your Profits Trading Options
url                    https://www.udemy.com/how-to-maximize-your-pro...
is_paid                                                             True
price                                                                200
num_subscribers                                                     1276
num_reviews                                                           45
num_lectures                                                          26
level                                                 Intermediate Level
content_duration                                                       2
published_timestamp                                 2016-12-13T14:57:18Z
subject                                                 Business Finance
Name: 4, dtype: object

In [61]:
# Collect data with index 45
row_fourty_five = udemy_df.loc[[4, 5], ["url", "num_reviews", "level"]]
row_fourty_five

                                                 url  ...               level
4  https://www.udemy.com/how-to-maximize-your-pro...  ...  Intermediate Level
5  https://www.udemy.com/trading-penny-stocks-a-g...  ...          All Levels

[2 rows x 3 columns]

In [64]:
# See if the above error code works here
test_df = udemy_df[['is_paid', 'price', 'num_subscribers']].loc[:5].copy()
test_df.loc[6] = [False, 1000000, 45]
test_df

   is_paid    price  num_subscribers
0     True      200             2147
1     True       75             2792
2     True       45             2174
3     True       95             2451
4     True      200             1276
5     True      150             9221
6    False  1000000               45

# 4.Selecting multiple row using loc and iloc at the same time

In [65]:
# Collect row 10,11,12,14,15
rows_to_collect = [10, 11, 12, 13, 14, 15]
rows_10_t_15 = udemy_df.iloc[rows_to_collect, :]
rows_10_t_15

    course_id  ...           subject
10     592338  ...  Business Finance
11     975046  ...  Business Finance
12     742602  ...  Business Finance
13     794151  ...  Business Finance
14    1196544  ...  Business Finance
15     504036  ...  Business Finance

[6 rows x 12 columns]

# 5. Basic description of the dataset

DataFrame.describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False)

In [25]:
# Use the describe function to collect an overview of the dataset
udemy_df.describe()

          course_id        price  ...  num_lectures  content_duration
count  3.678000e+03  3678.000000  ...   3678.000000       3678.000000
mean   6.759720e+05    66.049483  ...     40.108755          4.094517
std    3.432732e+05    61.005755  ...     50.383346          6.053840
min    8.324000e+03     0.000000  ...      0.000000          0.000000
25%    4.076925e+05    20.000000  ...     15.000000          1.000000
50%    6.879170e+05    45.000000  ...     25.000000          2.000000
75%    9.613555e+05    95.000000  ...     45.750000          4.500000
max    1.282064e+06   200.000000  ...    779.000000         78.500000

[8 rows x 6 columns]

# 6. Selecting subset of the data from the dataframe <br>

Select the subset where is_paid = True, price > 50 and num_reviews > 100

In [51]:
# Select the data based on one value
subset_df_one_val = udemy_df[udemy_df["level"] == "Beginner Level"]
subset_df_one_val

      course_id  ...           subject
6        739964  ...  Business Finance
16       719698  ...  Business Finance
19        58977  ...  Business Finance
23      1020760  ...  Business Finance
29      1266306  ...  Business Finance
...         ...  ...               ...
3661     761770  ...   Web Development
3667     523216  ...   Web Development
3668     270976  ...   Web Development
3674    1088178  ...   Web Development
3677     297602  ...   Web Development

[1270 rows x 12 columns]

In [52]:
# Select the subset of the data
subset_df = udemy_df[(udemy_df["is_paid"] == True) & (udemy_df["price"] > 100) & (udemy_df["num_reviews"] > 500)]
subset_df.head()

    course_id  ...           subject
25     383414  ...  Business Finance
36     308690  ...  Business Finance
37     888716  ...  Business Finance
38     321410  ...  Business Finance
39     965832  ...  Business Finance

[5 rows x 12 columns]

**QUESTION : subset the data where price > 10 and content_duration == 5.0**

In [53]:
# Let's solve the question at hand

################### CODE HERE ######################
####################################################

# 7. value_counts()

**Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)**

In [57]:
# The value counts can be used to display the distribution of the values in a columns 
udemy_df["is_paid"].value_counts()

True     3368
False     310
Name: is_paid, dtype: int64

# 7.5 set_index and reset_index

In [69]:
# Let's set the index of the udemy df to course_id
udemy_df_set_index = udemy_df.copy()
udemy_df_set_index = udemy_df_set_index.set_index("course_id")
udemy_df_set_index.head()

                                                course_title  ...           subject
course_id                                                     ...
1070968                   Ultimate Investment Banking Course  ...  Business Finance
1113822    Complete GST Course & Certification - Grow You...  ...  Business Finance
1006314    Financial Modeling for Business Analysts and C...  ...  Business Finance
1210588    Beginner to Pro - Financial Analysis in Excel ...  ...  Business Finance
1011058         How To Maximize Your Profits Trading Options  ...  Business Finance

[5 rows x 11 columns]

In [70]:
# let's reset the index here
udemy_df_reset_index = udemy_df_set_index.reset_index(drop=False)
udemy_df_reset_index.head()

   course_id  ...           subject
0    1070968  ...  Business Finance
1    1113822  ...  Business Finance
2    1006314  ...  Business Finance
3    1210588  ...  Business Finance
4    1011058  ...  Business Finance

[5 rows x 12 columns]

# 8.Rename columns

In [71]:
# let's rename the num_lecturses to lecture counts and id_paid to has_paid
udemy_df_rename = udemy_df.copy()
udemy_df_rename.rename(columns={"num_lectures": "total_lectures", "is_paid": "has_paid"}, inplace=True)
udemy_df_rename.head()

   course_id  ...           subject
0    1070968  ...  Business Finance
1    1113822  ...  Business Finance
2    1006314  ...  Business Finance
3    1210588  ...  Business Finance
4    1011058  ...  Business Finance

[5 rows x 12 columns]

# 9.Apply function <br>

The apply function let's you select a columns value and lets to changes it in an iterative fashion

In [73]:
# Let's lowercase all the text in the course_title column
def lower_case_title(value):
  # make the sentence lower case
  return value.lower()


udemy_df_rename["course_title"] = udemy_df_rename["course_title"].apply(lower_case_title)
udemy_df_rename.head()

   course_id  ...           subject
0    1070968  ...  Business Finance
1    1113822  ...  Business Finance
2    1006314  ...  Business Finance
3    1210588  ...  Business Finance
4    1011058  ...  Business Finance

[5 rows x 12 columns]

In [74]:
# we can also make a new column from it as well 
udemy_df_rename["course_title_lowercase"] = udemy_df_rename["course_title"].apply(lower_case_title)
udemy_df_rename.head()

   course_id  ...                             course_title_lowercase
0    1070968  ...                 ultimate investment banking course
1    1113822  ...  complete gst course & certification - grow you...
2    1006314  ...  financial modeling for business analysts and c...
3    1210588  ...  beginner to pro - financial analysis in excel ...
4    1011058  ...       how to maximize your profits trading options

[5 rows x 13 columns]

# 10. Map function

The map fucntion takes input as dict and convert the columns values according to the values in the dict

In [30]:
# Let's convert has_paid column to 1 for True and 0 for False
udemy_df_rename["has_paid"] = udemy_df_rename["has_paid"].map({True : 1, False : 0})
udemy_df_rename.head()

   course_id  ...           subject
0    1070968  ...  Business Finance
1    1113822  ...  Business Finance
2    1006314  ...  Business Finance
3    1210588  ...  Business Finance
4    1011058  ...  Business Finance

[5 rows x 12 columns]

# 11. Groupby functions

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Images/Mod3Fig4SplitApplyCombine.png" height=400 align="center">

In [31]:
# Let's load a new dataset
winemag_data = pd.read_csv("/content/drive/MyDrive/winemag-data-130k-v2.csv")
winemag_data.head(3)

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm

[3 rows x 14 columns]

In [32]:
# Groupby based on the country
groupby_country = winemag_data.groupby(by="country").country.count()
groupby_country

country
Argentina                  3800
Armenia                       2
Australia                  2329
Austria                    3345
Bosnia and Herzegovina        2
Brazil                       52
Bulgaria                    141
Canada                      257
Chile                      4472
China                         1
Croatia                      73
Cyprus                       11
Czech Republic               12
Egypt                         1
England                      74
France                    22093
Georgia                      86
Germany                    2165
Greece                      466
Hungary                     146
India                         9
Israel                      505
Italy                     19540
Lebanon                      35
Luxembourg                    6
Macedonia                    12
Mexico                       70
Moldova                      59
Morocco                      28
New Zealand                1419
Peru                         16
Portugal                   5691
Romania                     120
Serbia                       12
Slovakia                      1
Slovenia                     87
South Africa               1401
Spain                      6645
Switzerland                   7
Turkey                       90
US                        54504
Ukraine                      14
Uruguay                     109
Name: country, dtype: int64

So here we will now see how to use the apply method. we can directly access what we wanna access from dataframe using apply() method,and we can then manipulate the data in any way we want to. For example, here's one way of selecting the name of the first wine reviewed from each winery in the dataset:

In [33]:
winemag_data.groupby('country').apply(lambda df: df.title.iloc[0])

country
Argentina                        Felix Lavaque 2010 Felix Malbec (Cafayate)
Armenia                      Van Ardi 2015 Estate Bottled Kangoun (Armenia)
Australia                 Yalumba 2016 Made With Organic Grapes Chardonn...
Austria                            Fuchs 2015 Grüner Veltliner (Burgenland)
Bosnia and Herzegovina            Winery Čitluk 2007 Vranac Vranec (Mostar)
Brazil                     Cave Geisse 2014 Brut Sparkling (Pinto Bandeira)
Bulgaria                    Vini 2016 Veni Vidi Vici Rosé (Thracian Valley)
Canada                    Pillitteri 2012 Reserve Icewine Vidal (Niagara...
Chile                     Estampa 2011 Estate Viognier-Chardonnay (Colch...
China                     Chateau Changyu-Castel 2009 Noble Dragon Red (...
Croatia                                     Coronica 2012 Malvasia (Istria)
Cyprus                    Chrysorroyiatissa 2008 Ayios Andronicos White ...
Czech Republic                   Vino z Czech 2011 Welschriesling (Moravia)
Egypt                     Sahara Vineyards 2008 Caspar Blanc de Noirs Gr...
England                   Ridgeview Estate 2011 Blanc de Blancs Chardonn...
France                                Trimbach 2012 Gewurztraminer (Alsace)
Georgia                           Wine Man 2014 Mukuzani Saperavi (Kakheti)
Germany                   Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...
Greece                     My Big Fat Greek Wine 2010 Assyrtico (Santorini)
Hungary                        Samuel Tinon 2015 Megyer Dry Furmint (Tokaj)
India                             Sula 2011 Dindori Reserve Shiraz (Nashik)
Israel                                      Yatir 2011 Syrah (Judean Hills)
Italy                                     Nicosia 2013 Vulkà Bianco  (Etna)
Lebanon                                         Ixsir 2011 El Red (Lebanon)
Luxembourg                Domaines Vinsmoselle NV Pinot Luxembourg White...
Macedonia                                     Bovin 2007 Sauvignon (Tikves)
Mexico                    L.A. Cetto 1996 Private Reserve Nebbiolo (Vall...
Moldova                   Château Vartely 2014 D'Or Feteascǎ Regalǎ (Mol...
Morocco                                    Ouled Thaleb 2013 Syrah (Zenata)
New Zealand                   Stoneleigh 2008 Sauvignon Blanc (Marlborough)
Peru                              Intipalka 2013 Valle del Sol Tannat (Ica)
Portugal                      Quinta dos Avidagos 2011 Avidagos Red (Douro)
Romania                               Cramele Recas 2009 Chardonnay (Recas)
Serbia                                 Milijan Jelić 2011 Morava (Pocerina)
Slovakia                                 Château Bela 2008 Riesling (Muzla)
Slovenia                  Ciringa 2011 Fosilni Breg Sauvignon Blanc (Slo...
South Africa              Le Riche 2003 Cabernet Sauvignon Reserve Caber...
Spain                     Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...
Switzerland               Robert Gilliard 2012 Dôle des Monts Pinot Noir...
Turkey                                   Chamlija 2014 Papaskarasi (Thrace)
US                            Rainstorm 2013 Pinot Gris (Willamette Valley)
Ukraine                                 Marengo NV Brut Sparkling (Ukraine)
Uruguay                      Bouza 2013 B2 Parcela Unica Tannat (Canelones)
dtype: object

In [34]:
# Let's use the df.groupby method to gather insignts from the data
country_price_insight = winemag_data.groupby(by="country")["price"].agg([min, max, sum])
country_price_insight = country_price_insight.rename(columns={"min": "min_price", "max": "max_price", "sum": "total_price"})
country_price_insight.head()

                        min_price  max_price  total_price
country
Argentina                     4.0      230.0      92060.0
Armenia                      14.0       15.0         29.0
Australia                     5.0      850.0      81294.0
Austria                       7.0     1100.0      86105.0
Bosnia and Herzegovina       12.0       13.0         25.0

# 12. reset_index()

In [35]:
# We don't want countries as the index what should we do
country_data_copy = country_price_insight.copy()
country_data_copy = country_data_copy.reset_index()
country_data_copy.head()

                  country  min_price  max_price  total_price
0               Argentina        4.0      230.0      92060.0
1                 Armenia       14.0       15.0         29.0
2               Australia        5.0      850.0      81294.0
3                 Austria        7.0     1100.0      86105.0
4  Bosnia and Herzegovina       12.0       13.0         25.0

# 13. Sorting the data

In [36]:
# Let's sort the data based on the total_price in descending order
country_data_copy = country_data_copy.sort_values(by="total_price", ascending=False)
country_data_copy.head()

     country  min_price  max_price  total_price
40        US        4.0     2013.0    1984659.0
15    France        5.0     3300.0     731289.0
22     Italy        5.0      900.0     670873.0
37     Spain        4.0      770.0     185459.0
31  Portugal        5.0     1000.0     127814.0

In [37]:
# Let's reset the index
country_data_copy = country_data_copy.reset_index(drop=True)
country_data_copy.head()

    country  min_price  max_price  total_price
0        US        4.0     2013.0    1984659.0
1    France        5.0     3300.0     731289.0
2     Italy        5.0      900.0     670873.0
3     Spain        4.0      770.0     185459.0
4  Portugal        5.0     1000.0     127814.0

**idxmax return the index of the row max value along the given axis and similarly idxmin return the index of the row that has the minimum value accross a certain axis**

In [38]:
# let's sort based on max ration of total_price/min_price * max_price
chosen_country = (country_data_copy["total_price"] / (country_data_copy["max_price"] * country_data_copy["min_price"])).idxmin()
print(f"Chosen Country index : {chosen_country}")
country_data_copy.loc[chosen_country]

Chosen Country index : 40

country        China
min_price         18
max_price         18
total_price       18
Name: 40, dtype: object

# 13. Converting the dtypes

In [39]:
# let's convert the datatypes of some columns like make min_price as integer 
winemag_data_copy = winemag_data.copy()
winemag_data_copy["points"] = winemag_data_copy["points"].astype(float)
winemag_data_copy.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

**Pandas uses the object dtype for storing strings. The object dtype can store things that are of unequal lengths and of different dtypes in itself**

In [40]:
# List the dtype of all the columnd
winemag_data_copy.dtypes

Unnamed: 0                 int64
country                   object
description               object
designation               object
points                   float64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

# 14. Replace function

In [41]:
# let's replace vossroger's twitter handle with vr
winemag_data_copy["taster_twitter_handle"] = winemag_data_copy["taster_twitter_handle"].replace("@vossroger", "@vr")
winemag_data_copy.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

# 15. Handling missing data (VV.IMPORTANT)

Before starting we need to look at axis object axis = 1 refers to along the columns and axis = 0 refers to along the rows

![image.png]()

In [42]:
# Let's first see the total missing value in the dataset
print(f"Total Missing/Null Values in the winemag_data : {winemag_data_copy.isnull().sum().sum()}")

Total Missing/Null Values in the winemag_data : 204752

In [43]:
# Print the total null/nan value in each of the rows
winemag_data_copy.isna().sum()

Unnamed: 0                   0
country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

In [44]:
# Collect the values where the country is null/nan
country_na_data = winemag_data_copy[winemag_data_copy["country"].isna()]
index_collected = country_na_data.index
country_na_data

        Unnamed: 0 country  ...             variety                           winery
913            913     NaN  ...             Chinuri               Gotsa Family Wines
3131          3131     NaN  ...           Red Blend                Barton & Guestier
4243          4243     NaN  ...            Ojaleshi  Kakhetia Traditional Winemaking
9509          9509     NaN  ...         White Blend                         Tsililis
9750          9750     NaN  ...          Chardonnay                         Ross-idi
...            ...     ...  ...                 ...                              ...
124176      124176     NaN  ...           Red Blend                Les Frères Dutruy
129407      129407     NaN  ...  Cabernet Sauvignon                      El Capricho
129408      129408     NaN  ...         Tempranillo                      El Capricho
129590      129590     NaN  ...           Red Blend                        Büyülübağ
129900      129900     NaN  ...              Merlot                           Psagot

[63 rows x 14 columns]

In [46]:
# let's replace the all the nan values with India(suppose)
winemag_data_copy["country"].fillna("India", inplace=True)
winemag_data_copy.loc[index_collected]

        Unnamed: 0 country  ...             variety                           winery
913            913   India  ...             Chinuri               Gotsa Family Wines
3131          3131   India  ...           Red Blend                Barton & Guestier
4243          4243   India  ...            Ojaleshi  Kakhetia Traditional Winemaking
9509          9509   India  ...         White Blend                         Tsililis
9750          9750   India  ...          Chardonnay                         Ross-idi
...            ...     ...  ...                 ...                              ...
124176      124176   India  ...           Red Blend                Les Frères Dutruy
129407      129407   India  ...  Cabernet Sauvignon                      El Capricho
129408      129408   India  ...         Tempranillo                      El Capricho
129590      129590   India  ...           Red Blend                        Büyülübağ
129900      129900   India  ...              Merlot                           Psagot

[63 rows x 14 columns]

In [51]:
# We can also drop values where even one of the values is nan
winemag_data_copy_two = winemag_data_copy.copy()
winemag_data_copy.dropna()
print(f"Shape before dropna : {winemag_data_copy.shape}")
winemag_data_copy_two.dropna(axis=0, subset=["price"], inplace=True)
print(f"Shape after dropna : {winemag_data_copy_two.shape}")

Shape before dropna : (129971, 14)
Shape after dropna : (120975, 14)

In [57]:
# we can also drop full columns if we want to 
winemag_data_copy_two.drop(columns=["Unnamed: 0", "region_1"], axis=1, inplace=True)
winemag_data_copy_two.head()

    country  ...               winery
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks
5     Spain  ...               Tandem

[5 rows x 12 columns]

# 16. Concat Multiple dataframes <br>

We can concat multiple dataframe together using pd.concat functions. Note if you are concatinating along the row the column names and alignment should be same and if you are concatinating along the columns the number of datapoints should be the same.

In [54]:
# let's make three dataframe and concat them 
a = pd.DataFrame({
    "age" : [10, 11, 12, 13, 14, 15],
    "name" : ["a", "b", "c", "d", "e", "f"]
})

b = pd.DataFrame({
    "marks": [99, 100, 92, 90, 95, 94],
    "subject" : ["maths", "physics", "english", "biology", "chemistry", "politics"]
})

concat_df_along_columns = pd.concat([a, b], axis=1)
concat_df_along_columns

   age name  marks    subject
0   10    a     99      maths
1   11    b    100    physics
2   12    c     92    english
3   13    d     90    biology
4   14    e     95  chemistry
5   15    f     94   politics

In [56]:
c = pd.DataFrame({
    "age" : [20, 21],
    "name" : ["g", "h"],
    "marks": [89, 83],
    "subject": ["cs", "sw"]
})

concat_df_along_rows = pd.concat([concat_df_along_columns, c], axis=0).reset_index(drop=True)
concat_df_along_rows

   age name  marks    subject
0   10    a     99      maths
1   11    b    100    physics
2   12    c     92    english
3   13    d     90    biology
4   14    e     95  chemistry
5   15    f     94   politics
6   20    g     89         cs
7   21    h     83         sw

# 17. Performing basic operation on the dataframe

In [70]:
# Mean marks
mean_marks = concat_df_along_rows["marks"].mean()
print(f"mean of columns marks : {mean_marks}")

# Median marks
median_marks = concat_df_along_rows["marks"].median()
print(f"median of columns marks : {median_marks}")

# Max marks
max_marks = concat_df_along_rows["marks"].max()
print(f"median of columns marks : {max_marks}")

# Min marks
min_marks = concat_df_along_rows["marks"].min()
print(f"median of columns marks : {min_marks}")

mean of columns marks : 92.75
median of columns marks : 93.0
median of columns marks : 100
median of columns marks : 83

# 18. Saving the dataframe <br>

We can save the dataframe as per our requirements using pd.to_csv()

In [73]:
# let's save the concat_df_along_rows dataframe as sample_concat.csv
concat_df_along_rows.to_csv("sample_concat.csv", index=False)
print("Saving df completed....")

Saving df completed....